*.pyc

__init__.cpython-38.pyc
__init__.cpython-311.pyc
admin.cpython-38.pyc
admin.cpython-311.pyc
apps.cpython-38.pyc
apps.cpython-311.pyc
forms.cpython-311.pyc
models.cpython-38.pyc
models.cpython-311.pyc
urls.cpython-38.pyc
urls.cpython-311.pyc
views.cpython-38.pyc
views.cpython-311.pyc

.env
