<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <a href="javascript:kakaoLogin();"><img src="https://www.gb.go.kr/Main/Images/ko/member/certi_kakao_login.png" style="height:60px;width:auto;"/></a>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script>
    window.Kakao.init("cb2d3c6aedb31b4dce568e90fe7eb5c9");
    function kakaoLogin() {
      window.Kakao.Auth.login({
        scope: 'profile_nickname',
        success: function (authObj) {
          console.log(authObj);
          window.Kakao.API.request({
            url: '/v2/user/me',
            success: res => {
              const kakao_account = res.kakao_account;
              console.log(kakao_account);
            }
          });
        },
        fail: function (err) {
          console.log(err);
        }
      });
    }
  </script>
</body>
</html>