<!DOCTYPE html>
<html lang="ko">
<head>
</head>

  <body>
  {% include 'header.html' %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Page content-->
    <br><br><br><br><br><br><br><br>
    <div class="container">
        <div class="text-center mt-5">
            <h1>두피 타입 진단하기</h1>
            <p class="lead">당신의 두피 유형은 무엇입니까?</p>
        </div>
    </div>

    <div class="container">
    <h5>두피 사진을 업로드해주세요</h5>
    <form method="post"
          class="post-form my-3"
          enctype="multipart/form-data"
          action = '../upload/'>
        {% csrf_token %}
    	<div>
            <label for="imgfile">이미지 : </label>
            <input type="file" class="form-control" name="image" id="imgfile"><br>
        </div>
        <div class="d-grid gap-2">
          <input type="submit" id="loadingBtn" class="btn btn-lg btn-primary" value="진단 시작하기">
        </div>
    </form>


    <div id="loading" style="margin-left: 0px; display: none;" >
        <img src="https://www.railtrip.co.kr/image/loading2.gif">
        <p>loading..</p>
    </div>



<!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg" style="display: none;">
        <div class="container-fluid" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">
                    <div class="content">
                        <h3>
                            <strong>
                                두피 진단 결과, 당신의 두피 유형은 <br>
                                <span style="color: #FF8000;">"{{predicted_label}}"</span>입니다
                            </strong>
                        </h3>
                        <p id="resultText1">
                            {% if predicted_label == "경증 탈모" or predicted_label == "중등도 탈모" or predicted_label == "중증 탈모" %}
                               탈모는 정상적으로 모발이 존재해야 할 부위에 모발이 없거나 빈약한 상태를 말하며, 일반적으로 두피의 성모(굵고 검은 머리털)가 빠지는 것을 의미합니다. 모발 생성에 필요한 영양공급과 신진대사가 원활하게 이루어 지지 않아 생기는 진행성 질환입니다. 흔히 하루 약 50-70개 정도의 머리카락이 빠지고 새로 자라나는과정은 극히 정상적입니다. 그러나 하루 100개 넘는 머리카락이 빠지면 탈모를 의심할 수 있습니다.
                            {% elif predicted_label == "경증 비듬" or predicted_label == "중등도 비듬" or predicted_label == "중증 비듬" %}
                               비듬이 생기는 원인은 여러 가지입니다. 두피 피지선의 과다 분비, 호르몬의 불균형, 두피 세포의 과다 증식 등이 있습니다. 말라쎄지아라는 진균류가 방출하는 분비물이 표피층을 자극하여 비듬이 발생하기도 합니다. 이외에 스트레스, 과도한 다이어트 등이 비듬 발생의 원인이 된다는 연구 결과도 있습니다.
                            {% else %}
                               두피 상태가 양호합니다.
                            {% endif %}
                        </p>
                    </div>

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">생활습관 팁</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#profile" aria-selected="false" role="tab" tabindex="-1">샴푸 방법</a>
                        </li>
                    </ul>

                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active show" id="home" role="tabpanel">
                            <p>
                                {% if predicted_label == "경증 탈모" or predicted_label == "중등도 탈모" or predicted_label == "중증 탈모" %}
                                    1. 저녁 11시 이전에 취침해주세요. 머리카락은 모낭의 세포가 분열하면서 만들어지는데 이러한 세포는 오후 11시부터 새벽 2시사이에 가장 왕성하게 활동한다고 합니다. 이때 숙면하지 않으면 세포가 충분히 분열하기 어려워 탈모가 심해질 수 있습니다.<br><br>
                                    2. 기름진 음식은 조금만 섭취해주세요. 튀김이나 빵, 과자 등 기름진 음식이나 탄수화물이 많은 음식을 먹으면 혈액 속 중성지방과 콜레스테롤이 증가합니다. 이렇게 되면 혈액 순환이 잘 안되어 모발의 영양분이 제대로 공급이 되지 않게 됩니다.<br><br>
                                    3. 단백질 섭취에 신경써주세요. 모발의 구성성분인 단백질을 충분히 섭취해줘야 탈모를 예방할 수 있습니다. 검은콩, 달걀, 아몬드, 땅콩, 연어,두부, 콩나물 등이 있습니다.
                                {% elif predicted_label == "경증 비듬" or predicted_label == "중등도 비듬" or predicted_label == "중증 비듬" %}
                                    1. 지성 비듬이 심하면 ‘지루성 두피염’으로 악화되기 쉽습니다. 방치하면 탈모로도 이어질 수 있으며 관리법으로는 두피의 열을 내리도록 모자 착용을 피하고 자외선이 뜨거운 시간에 야외 활동을 삼가는 게 좋습니다.<br><br>
                                    2. 비듬이나 두피염 모두 머리카락을 잘 말리는 게 중요합니다. 젖은 상태로 두피를 방치하면 세균이 증식하고 트러블이 생기기 쉽습니다. 또 두피의 유수분 밸런스를 유지하기 힘들어져 건성·지성비듬 모두 증상이 악화되므로 두피와 모발을 수건으로 톡톡 두드려 물기를 제거하고 미지근한 바람으로 완전히 건조하는 것이 좋습니다. 이후 빗질로 각질을 제거하면 혈액 순환이 촉진돼 두피와 머릿결 관리에 도움이 됩니다.
                                {% else %}
                                   두피 상태가 양호한 편이지만 생활습관이나 스트레스에 의해 두피가 악화될 수 있으므로 조심하는 것이 좋습니다. 머리는 저녁에 감는 것이 좋으며, 튀김이나 빵, 과자 등 기름진 음식이나 탄수화물이 많은 음식을 먹으면 혈액 속 중성지방과 콜레스테롤이 증가하여 모발의 영양분 공급이 잘 되지 않을 수 있습니다. 식습관 관리와 스트레스를 관리하는 것이 두피 건강에 도움이 됩니다.
                                {% endif %}
                            </p>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel">
                            <p>
                                1. 머리는 반드시 저녁에 감아주세요. 자외선은 피지와 각질을 늘어나게 해 두피에 악영향을 주는데, 아침에 머리를 감으면 머리를 보호하는 유분이 씻겨나간 채로 자외선을 받게 돼 두피가 더 손상됩니다. <br><br>
                                2. 머리카락은 차가운 바람으로 말려주세요. 뜨거운 바람으로 말리게 되면 두피의 온도를 높이고 모낭에 자극을 줄 수 있습니다. 또한 두피를 지나치게 건조하게 만들면 유수분 밸런스를 무너뜨려 탈모를 유발할 수 있습니다. <br><br>
                                3. 샴푸 거품으로 두피를 충분히 마사지하고 각질과 모근에 붙어있는 노폐물을 꼼꼼히 제거하는 게 좋습니다. 보습을 돕는 린스나 트리트먼트 등이 두피에 남지 않도록 머리카락 끝에만 사용하고 두피를 직접 긁거나 트러블 등을 손으로 짜지 않도록 주의하는 것이 좋습니다.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("/media/{{fileName}}");' data-aos="fade-left" data-aos-delay="100">&nbsp;</div>
            </div>
        </div>

        <div class="d-grid gap-2">
          <button class="btn-5" type="button" onclick="window.location.href='{{links_label}}'">추천 샴푸 보러가기</button>
        </div>

    </section><!-- End Why Us Section -->




    <script>
        $(document).ready(function() {
            $('#loadingBtn').click(function() {
                $('#loading').show();
                setTimeout(function() {
                    $('#loading').hide();
                    $('.why-us').show();
                }, 2000);
            });
        });
    </script>





    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="scripts.js"></script>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  {% include 'footer.html' %}
  </body>
</html>
