<!DOCTYPE html>
<html lang="ko">
<head>
</head>

  <body>
  {% include 'header.html' %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Page content-->
    <br><br><br><br><br><br><br><br>
    <div class="container">
        <div class="text-center mt-5">
            <h1>두피 타입 진단하기</h1>
            <p class="lead">당신의 두피 유형은 무엇입니까?</p>
        </div>
    </div>

    <div class="container">
    <h5>두피 사진을 업로드해주세요</h5>
    <form method="post"
          class="post-form my-3"
          enctype="multipart/form-data"
          action = '../upload/'>
        {% csrf_token %}
    	<div>
            <label for="imgfile">이미지 : </label>
            <input type="file" class="form-control" name="image" id="imgfile"><br>
        </div>
        <div class="d-grid gap-2">
          <input type="submit" id="loadingBtn" class="btn btn-lg btn-primary" value="진단 시작하기">
        </div>
    </form>


    <div id="loading" style="margin-left: 0px; display: none;" >
        <img src="https://www.railtrip.co.kr/image/loading2.gif">
        <p>loading..</p>
    </div>



<!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg" style="display: none;">
        <div class="container-fluid" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">
                    <div class="content">
                        <h3>
                            <strong>
                                잠시만 기다려주세요 ... <br>
                            </strong>
                        </h3>
                    </div>

                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active show" id="home" role="tabpanel">
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("/media/{{fileName}}");' data-aos="fade-left" data-aos-delay="100">&nbsp;</div>
            </div>
        </div>


    </section><!-- End Why Us Section -->




    <script>
        $(document).ready(function() {
            $('#loadingBtn').click(function() {
                $('#loading').show();
                setTimeout(function() {
                    $('#loading').hide();
                    $('.why-us').show();
                }, 2000);
            });
        });
    </script>





    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="scripts.js"></script>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  {% include 'footer.html' %}
  </body>
</html>
