# 핵심 프레임워크
Django==4.2.2
django-environ==0.11.2

# 파일 시스템 관리
Pillow==9.5.0
django-imagekit==4.0.2
django-storages==1.14.1

# 데이터 분석 및 머신러닝
numpy==1.24.3
tensorflow-cpu==2.11.0
scikit-learn==1.2.2
Pillow==9.5.0

# 인증 및 OAuth2
google-auth-oauthlib==1.0.0
google-auth==2.20.0

# HTTP 요청
requests==2.31.0

# 환경 변수 관리
python-dotenv==1.0.0

# 캐시 관리
django-redis==5.0.0

# 기타 유용한 도구들
django-extensions==3.2.3
django-filter==22.1
